.toggle-mode{
    height: 70px;
    align-items: center;
    align-content: center;
    width: 4rem;
    padding-top: 1.5rem;
    text-align: center;
}
.bg-primary.bg-soft{
    background-color: rgba(142, 191, 73, 0.25) !important;
}

.wizard .steps .current a, .wizard .steps .current a:active, .wizard .steps .current a:hover{
    background-color: rgba(142, 191, 73, 0.25) !important;
}

.wizard .steps > ul > li a{
    background-color: rgba(142, 191, 73, 0.1) !important;
}

.arrowless-dropdown::after
{
    content: none !important;
}
